# Node modules
node_modules/

# Logs
*.log

# Gradle files
.gradle/
**/build/
**/out/

# Android/IntelliJ IDEA specific files
.idea/
*.iml

# Gradle Wrapper files
gradle-wrapper.jar

# Generated APK and AAB files
*.apk
*.aab

# Bubblewrap key file
android.keystore

# macOS specific files
.DS_Store

# Android build artifacts
app/build/
app/.cxx/
app/.externalNativeBuild/
app/.idea/
app/.gradle/
app/local.properties
